body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkcyan;
    color: white;
    padding: 2%;
    border-radius: 7px;
}

.listazzz{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

th{
    background-color: cadetblue;
    color: saddlebrown;
    font-size: 1.5em;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

tr, td{
    background-color: cadetblue;
    font-size: 1.25em;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.Tabla{
    width: 80%;
    margin: 20px;
    border-collapse: collapse;
}

.Titulo{
    color: sienna;
    font-size: 4em;
}

.Subtitulo, #Links{
    color: goldenrod;
    font-size: 2.5em;
}

li, p{
    font-size: 1.25em;
}

.img{
    width: 60%;
    border:7px solid brown;
    border-radius: 15px;
}

/*Media query para pantallas menores a 768px*/
@media(width<=768px){
    body{
        background-color: rgb(11, 97, 97);
    }

    .listazzz{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Titulo{
        font-size: 2em;
    }

    .Subtitulo, #Links{
        font-size: 1em;
    }

    li, p{
        font-size: .8em;
    }

    th{
        font-size: 1em;
    }
    
    tr, td{
        font-size: .75em;
    }
}
